input {
  height: 40px;
  width: 200px;
  outline: none;
  background-color: rgba(240, 248, 255, 0.5);
  border-color: rgba(0, 128, 0, 0.5);
  border-radius: 10px;
  font-size: 20px;
  color: rgba(0, 128, 0, 0.8);
  margin: 30px;
}
div {
  font-size: 20px;
  color: rgba(0, 128, 0, 0.8);
  margin-left: 30px;
}
